<form ng-model="travel" ng-submit="confirm()" class="form-control">
    <div class="form-group col-xs-4">
        <label>Travel justification:</label>
        <input type="text" class="form-control" readonly placeholder="Justification" ng-model="travel.justification">

    </div>
    <div class="form-group col-xs-4">
        <label>Project details:</label>
        <input type="text" class="form-control" readonly placeholder="Project details" ng-model="travel.project_details">
    </div>

    <div class="form-group col-xs-4">
        <label>Region:</label>
        <input type="text" class="form-control" readonly placeholder="Region" ng-model="travel.region">

    </div>

    <div class="form-group col-xs-4">
        <label>Communication details:</label>
        <input type="text" class="form-control" readonly placeholder="Communication details" ng-model="travel.communication_details">
    </div>

    <div class="form-group col-xs-4">
        <label>Date:</label>
        <input type="text" class="form-control" readonly placeholder="Date of travel" ng-model="travel.date">
    </div>

    <div class="form-group col-xs-4">
        <label>Department:</label>
        <input type="text" class="form-control" readonly placeholder="Department" ng-model="travel.department">
    </div>

    <div class="form-group col-xs-4">
        <label>Status:</label>
        <input type="text" class="form-control" readonly placeholder="Status" ng-model="travel.status">
    </div>


    <div class="form-group col-xs-4">
        <label>Report:</label>
        <input type="text" class="form-control" readonly placeholder="Report" ng-model="travel.report">
    </div>

    <div class="form-group col-xs-4">
        <input type="submit" class="btn btn-primary" ng-click="confirmTravel(travelID)" value="Confirm">
        <input type="submit" class="btn btn-primary" value="Decline">
    </div>

</form>

<ul>




</ul>
